@page "/Client"
@using QuestRoom.ViewModel.Common
@using QuestRoom.ViewModel.Client.Responce
@inject NavigationManager NavManager

<div class="mat-layout-grid-inner">
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
        <h3>Client Table</h3>
    </div>
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
    </div>
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
        <MatButton OnClick="@(item => NavManager.NavigateTo($"/manage/Client/"))" Icon="create_new_folder" style="display: flex; justify-content: flex-end">Add</MatButton>
    </div>
</div>
<div>
    <p>
        <MatStringField @oninput ="@(async (ChangeEventArgs e) => await SerchingFieldChange(e.Value.ToString()))"></MatStringField>
    </p>
</div>
<MatTable Items="ApiResult.Data"
          class="mat-elevation-z5"
          UseSortHeaderRow="true"
          ShowPaging="false"
          @bind-PageSize="@Pagenator.PageSize">
    <MatTableHeader>
        <MatSortHeaderRow SortChanged="@SortData">
            <th>Action</th>
            <MatSortHeader SortId="Id">Id</MatSortHeader>
            <MatSortHeader SortId="Name">Name</MatSortHeader>
            <MatSortHeader SortId="Email">Email</MatSortHeader>
            <MatSortHeader SortId="PhoneNumbe">PhoneNumbe</MatSortHeader>
            <MatSortHeader SortId="CreatedAt">CreatedAt</MatSortHeader>
        </MatSortHeaderRow>
    </MatTableHeader>
    <MatTableRow>
        <td>
            <MatButton Raised="true" Icon="edit" title="Edit" OnClick="@(item => NavManager.NavigateTo($"/manage/Client/{@context.Id}"))"></MatButton>
        </td>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Email</td>
        <td>@context.PhoneNumbe</td>
        <td>@context.CreatedAt</td>
    </MatTableRow>
</MatTable>
<MatPaginator Page="OnPage" @ref="matTablePagenator" @bind-Length="ApiResult.TotalCount">

</MatPaginator>

@code {
    MatPaginator matTablePagenator { get; set; } = null;
    private const string FilterColumn = nameof(GetClientViewModel.Name);

    [Inject]
    HttpClient HttpClient { get; set; }

    [Inject]
    IJSRuntime JS { get; set; }


    public GetApiBodyRequest Pagenator { get; set; } = new GetApiBodyRequest()
        {
            PageIndex = 0,
            PageSize = 5,
        };

    public ApiResultViewModel<GetClientViewModel> ApiResult { get; set; } = new ApiResultViewModel<GetClientViewModel>();

    public async Task GetData()
    {
        var result = await HttpClient.PostAsJsonAsync("api/Client/GetApiResponce", Pagenator);

        if (result.IsSuccessStatusCode)
        {
            ApiResult = await result.Content.ReadFromJsonAsync<ApiResultViewModel<GetClientViewModel>>();
        }
        else
        {
            await JS.InvokeAsync<object>("alert", $"Error {await result.Content.ReadAsStringAsync()}");
        }
    }

    public async Task SortData(MatSortChangedEvent sort)
    {
        if (!(sort == null || sort.Direction == MatSortDirection.None || string.IsNullOrEmpty(sort.SortId)))
        {
            if (sort.Direction == MatSortDirection.Desc)
            {
                Pagenator.SortingRequests = new List<SortingRequest>()
                    {
                        new SortingRequest()
                        {
                            SortColumn = sort.SortId,
                            SortOrder = "DESC"
                        }
                    };
            }
            else
            {
                Pagenator.SortingRequests = new List<SortingRequest>()
                    {
                        new SortingRequest()
                        {
                            SortColumn = sort.SortId,
                            SortOrder = "ASC"
                        }
                    };
            }

            await GetData();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        matTablePagenator.PageIndex = Pagenator.PageIndex;
        matTablePagenator.PageSize = Pagenator.PageSize;
        matTablePagenator.Length = 100;

        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnPage(MatPaginatorPageEvent e)
    {
        Pagenator.PageIndex = e.PageIndex;
        Pagenator.PageSize = e.PageSize;
        await GetData();
    }

    private async Task SerchingFieldChange(string value)
    {
        Pagenator.FilterRequests = new List<FilterRequest>()
        {
            new FilterRequest()
            {
                FilterColumn = FilterColumn,
                FilterQuery = value,
                IsPartFilter = true
            }
        };

        await GetData();
    }
}